.highlight-list-item-order {
  text-align: right;
  min-width: 24px;
  margin-right: 12px;
}

.highlight-list-item-content {
  flex: 1;
  min-width: 0;
  cursor: pointer;
}

.highlight-list-item-content-image {
  max-width: 100%;
}

.highlight-list-item-select {
  max-width: 100px;
}

.highlight-list-item-decision {
  min-width: 80px;
  padding-left: 16px;
}
